*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* The image used */
    background-image: url("/img/img21.jpeg");
    color: white;
    /* Full height */
    width: 100%;
    z-index: 0;
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  
}
.main-h1{
    font: 8vw sans-serif;
    color: black;
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
}
.main-h3{
    font: 2.6vw sans-serif;
    color: black;
    font-weight: 500;
    text-align: center;
    margin-top: 0.2%;
}
.main-p{
    font: 2vw sans-serif;
    color: rgb(85, 85, 85);
    font-weight: 500;
    text-align: center;
    margin-top: 0.3%;
    margin-left: 2vw;
    margin-right: 2vw;
}
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 1.555%;
    margin-right: 1.555%;
    background-color: white;
    margin-top: 0.5%;
     /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .column {
      width: 100%;
    }
  }
.col-text{
    font: 1.3em sans-serif;
    color: #000;
}
.col-p{
    font: 1em sans-serif;
    margin-top: 2%;
    color: #000;
}